{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <section aria-labelledby="mission-goals-values">
        <div class="text-center">
            <h1 id="mission-goals-values">Our Mission, Goals, and Values</h1>
            <div class="custom-paragraph">
                <p>
                    At Freedom Wheels, our mission is to empower individuals experiencing disabilities through Parkinson's and/or visual impairment in the North Lancashire area by promoting personal growth, overcoming barriers, and fostering a sense of community through the joy of cycling. Our goals include providing access to valuable resources, facilitating connections among like-minded individuals, and offering support through tandem bicycles. We are committed to creating an inclusive, supportive, and uplifting environment where everyone can experience the freedom and happiness that cycling brings.
                </p>
            </div>
        </div>
    </section>
    <section aria-labelledby="about-image" class="text-center mt-4">
        <img src="{% static 'aboutus.jpg' %}" alt="A group of people enjoying a charity cycling event" class="img-fluid" role="img" aria-label="A group of people enjoying a charity cycling event">
    </section>
    <section aria-labelledby="where-it-all-began" class="mt-5">
        <div class="text-center">
            <h2 id="where-it-all-began">Where it all began</h2>
            <div class="custom-paragraph">
                <p>
                    “Hi there, I'm Michael and I am a keen cyclist. I have always loved the outdoors for its beauty, the health benefits of exercise, the happiness it brings, and the unparalleled sense of freedom it offers. And my professional journey in welfare focused, non-profit, charities and organizations over the past 15 years, has deepened my commitment to supporting and empowering others.
                </p>
                <p>
                    My own disability has made me appreciate the role that cycling can play in managing and enhancing one's life. And having friends and family who had to stop cycling due to disability has motivated me to take action. The catalyst though for Freedom Wheels struck in September 2024 when I overheard a blind tandem cycling para athlete in the 2024 paralympic games. They remarked on how riding a tandem bike had brought them freedom, alleviated their loneliness, and helped them overcome crash anxiety. This inspired me so much that I thought 'I have do something with this'.
                </p>
                <p>
                    Fueled by my passion for cycling and the desire to share its benefits, I founded Freedom Wheels in 2025 to support others in experiencing the same joy, freedom and empowerment that cycling has brought to my life.”
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}