{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <section aria-labelledby="why-cycling-beneficial-generally">
        <div class="text-center">
            <h1 id="why-cycling-beneficial">Why Cycling is Beneficial</h1>
            <div class="custom-paragraph">
                <p>
                    Cycling is a fantastic way to improve your overall health and well-being. Here are some key benefits backed by real statistics:
                </p>
                <ul>
                    <li>Cardiovascular Health: Cycling can lower blood pressure, improve resting heart rate, and reduce the risk of coronary heart disease. A study found that people who cycle have a lower risk of heart attack.</li>
                    <li>Joint Health: As a low-impact activity, cycling is easy on the joints. It's often used in physical therapy to help restore mobility and range of motion without bearing weight on the joints.</li>
                    <li>Weight Management: Regular cycling helps maintain a healthy body composition and reduces the incidence of obesity. Most people need 150 minutes of physical activity a week to maintain weight, and cycling is an easy way to meet this goal.</li>
                    <li>Improved Mood: Cycling can have positive effects on mental health, decreasing depression and anxiety, improving sleep, and enhancing mood and quality of life.</li>
                    <li>Prevention of Diabetes: Cycling helps prevent type 2 diabetes by improving overall health and helping people maintain a healthy weight.</li>
                    <li>Lifestyle Benefits: Cycling can be a form of recreation and transportation, offering added benefits like family bonding and reduced emissions.</li>
                </ul>
                <p>For more detailed information, you can check out these resources:</p>
                <ul>
                    <li><a href="https://www.healthline.com/health/fitness-exercise/cycling-benefits" target="_blank" rel="noopener">Healthline: Cycling Benefits</a></li>
                    <li><a href="https://www.bhf.org.uk/informationsupport/heart-matters-magazine/activity/cycling" target="_blank" rel="noopener">British Heart Foundation: 10 Great Reasons to Cycle</a></li>
                </ul>
                <p>References:</p>
                <ul>
                    <li><a href="https://www.healthline.com/health/fitness-exercise/cycling-benefits" target="_blank" rel="noopener">https://www.healthline.com/health/fitness-exercise/cycling-benefits</a></li>
                    <li><a href="https://www.verywellhealth.com/benefits-of-cycling-8773726" target="_blank" rel="noopener">https://www.verywellhealth.com/benefits-of-cycling-8773726</a></li>
                    <li><a href="https://www.msn.com/en-us/health/other/what-happens-to-your-body-when-you-start-cycling-regularly/ar-BB1ro5tr" target="_blank" rel="noopener">https://www.msn.com/en-us/health/other/what-happens-to-your-body-when-you-start-cycling-regularly/ar-BB1ro5tr</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section aria-labelledby="image1" class="text-center mt-4">
        <img src="{% static 'whycyclingcanhelp1.jpg' %}" alt="A person sits leaning against their bike looking out at the huge wonderous green view that expands before them" class="img-fluid" role="img" aria-label="A person sits leaning against their bike looking out at the huge wonderous green view that expands before them">
    </section>
    <section aria-labelledby="why-cycling-partially-sighted-or-blind" class="mt-5">
        <div class="text-center">
            <h2 id="why-cycling-partially-sighted">Why Cycling is Good for Those Who Are Partially Sighted or Blind</h2>
            <div class="custom-paragraph">
                <p>
                    Cycling offers numerous benefits for individuals with visual impairments, providing both physical and mental advantages:
                </p>
                <ul>
                    <li>Physical Fitness: Cycling is a low-impact exercise that helps improve cardiovascular health, muscle strength, and overall fitness. It's an excellent way to stay active and maintain a healthy lifestyle.</li>
                    <li>Mental Well-being: Engaging in cycling can significantly boost mental health by reducing stress, anxiety, and depression. The sense of freedom and accomplishment from cycling can enhance mood and overall well-being.</li>
                    <li>Social Interaction: Tandem cycling, where a sighted pilot rides alongside a visually impaired cyclist, fosters social connections and community involvement. It provides an opportunity to bond with others and build supportive relationships.</li>
                    <li>Independence and Confidence: Cycling can increase independence and confidence for those with visual impairments. It allows them to navigate their surroundings, enjoy outdoor activities, and participate in events like the Paralympics.</li>
                    <li>Accessibility: With the right equipment and support, cycling can be made accessible to everyone. Organizations like Freedom Wheels, Cycling UK and Talking Tandems offer tandem cycling clubs and resources specifically for visually impaired individuals.</li>
                </ul>
                <p>For more information, you can explore these resources:</p>
                <ul>
                    <li><a href="https://www.welovecycling.com/wide/2018/09/19/cycling-when-you-are-blind-or-visually-impaired/" target="_blank" rel="noopener">Cycling When You Are Blind or Visually Impaired</a></li>
                    <li><a href="https://www.britishcycling.org.uk/paracycling" target="_blank" rel="noopener">Para Cycling - British Cycling</a></li>
                    <li><a href="https://www.cyclinguk.org/article/inspiring-cyclists-tandem-cycling-visual-impairment" target="_blank" rel="noopener">Inspiring Cyclists: Tandem Cycling with a Visual Impairment</a></li>
                </ul>
                <p>References:</p>
                <ul>
                    <li><a href="https://www.welovecycling.com/wide/2018/09/19/cycling-when-you-are-blind-or-visually-impaired/" target="_blank" rel="noopener">https://www.welovecycling.com/wide/2018/09/19/cycling-when-you-are-blind-or-visually-impaired/</a></li>
                </ul>
            <div class="custom-paragraph">
        </div>
    </section>
    <section aria-labelledby="image2" class="text-center mt-4">
        <img src="{% static 'whycyclingcanhelp2.jpg' %}" alt="A silhouette of a man atop a mountain with the sun going down behind him. They are deep black whilst everything else glows orange" class="img-fluid" role="img" aria-label="A silhouette of a man atop a mountain with the sun going down behind him. They are deep black whilst everything else glows orange">
    </section>
    <section aria-labelledby="why-cycling-parkinsons" class="mt-5">
        <div class="text-center">
            <h2 id="why-cycling-parkinsons">Why Cycling is Good for Those with Parkinson's</h2>
            <div class="custom-paragraph">
                <p>
                    Cycling offers numerous benefits for individuals with Parkinson's disease, helping to manage symptoms and improve overall quality of life. Here are some key advantages:
                </p>
                <ul>
                    <li>Improved Motor Function: Studies have shown that cycling can enhance motor skills, leading to higher scores on the Unified Parkinson's Disease Rating Scale (UPDRS) Motor III Test. Cycling activates parts of the brain responsible for global motor function, improving both upper and lower body motor skills.</li>
                    <li>Better Balance and Fewer Injuries: Research indicates that high-speed cycling on a recumbent bike can improve static and dynamic balance. After six weeks of cycling two days per week, participants demonstrated better balance, potentially reducing the risk of falls.</li>
                    <li>Healthier Heart: Aerobic exercise like cycling is beneficial for cardiovascular health, which is particularly important for individuals with Parkinson's. The American Heart Association recommends 150 minutes of moderate-intensity exercise per week, and cycling can be a part of this regimen.</li>
                    <li>Reduced Tremors and Rigidity: Regular cycling has been shown to reduce tremors, bradykinesia (slowness of movement), and rigidity. This can lead to improved gait and overall mobility.</li>
                    <li>Enhanced Cognitive Function: Cycling can boost cognitive function by increasing certain proteins in the brain that support cognitive health. This can potentially slow cognitive decline associated with Parkinson's.</li>
                    <li>Improved Mood: Engaging in cycling can reduce symptoms of depression and anxiety, enhancing mood and overall well-being. The social aspect of cycling also provides opportunities for interaction and support, which are important for mental health.</li>
                </ul>
                <p>For more detailed information, you can explore these resources:</p>
                <ul>
                    <li><a href="https://www.turnto.ai/parkinsons/q-and-a/cycling-benefits-parkinsons" target="_blank" rel="noopener">7 Benefits of Bike Therapy for Parkinson’s Disease</a></li>
                    <li><a href="https://www.myparkinsonsteam.com/resources/benefits-of-bike-therapy-for-parkinsons-disease" target="_blank" rel="noopener">What You Need to Know about Cycling with Parkinson’s</a></li>
                    <li><a href="https://davisphinneyfoundation.org/what-you-need-to-know-about-cycling-with-parkinsons/" target="_blank" rel="noopener">Why is cycling good for Parkinson's?</a></li>
                </ul>
                <p>References:</p>
                <ul>
                    <li><a href="https://www.turnto.ai/parkinsons/q-and-a/cycling-benefits-parkinsons" target="_blank" rel="noopener">https://www.turnto.ai/parkinsons/q-and-a/cycling-benefits-parkinsons</a></li>
                    <li><a href="https://www.myparkinsonsteam.com/resources/benefits-of-bike-therapy-for-parkinsons-disease" target="_blank" rel="noopener">https://www.myparkinsonsteam.com/resources/benefits-of-bike-therapy-for-parkinsons-disease</a></li>
                    <li><a href="https://davisphinneyfoundation.org/what-you-need-to-know-about-cycling-with-parkinsons/" target="_blank" rel="noopener">https://davisphinneyfoundation.org/what-you-need-to-know-about-cycling-with-parkinsons/</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}